<div class="splashpage">
	<div class="splashpage__lefthalf">
		<div class="splashpage__lefthalf-text">
			<h2>Darryl's Angels</h2>
			<p>Final hackathon project</p>
		</div>
	</div>
	<div class="splashpage__righthalf">
		<div class="splashpage__righthalf-buttons">
			<button routerLink="/home">Begin</button>
		</div>
	</div>
</div>
