html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: $background;
	font-family: 'Jura', sans-serif;
	font-size: $font-medium;
	line-height: 1.3;
	overflow: hidden;
}

main {
	margin-left: 5rem;
	padding: 2rem;
}

a, a:visited, a:hover {
	text-decoration: none;
}

mat-dialog-container {
	background-color: $background !important;
	border: white 1px solid;
	color: white !important;
	
	mat-dialog-content {
		height: 100% !important;
	}

	mat-dialog-actions {
		margin-top: auto;
	}
  
	mat-form-field, mat-label {
	  color: white !important;
	}

	
}