@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-pink, A200, A100, A400);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

mat-dialog-container {
  background-color: $background !important;
  border: white 1px solid;
  color: white;

  mat-form-field, mat-label {
    color: white !important;
  }
}

mat-raised-button {
	display:inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	background-color: $background;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color:#FFFFFF;
	text-align: center;
	transition: all 0.2s;

	&:hover {
		color:#000000;
		background-color:#FFFFFF;
	}
}