/* You can add global styles to this file, and also import other style files */
@import "./helpers/variables";

@import "./base/globals";

@import "./pages/home";
@import "./pages/splash";
@import "./pages/trades";

@import "./modules/button";
@import "./modules/nav";
@import "./modules/tickersInfo";
@import "./modules/tradesList";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
