<div class="ticker-list">
	Available Tickers:
	<br>
	<div class="ticker-list__ticker" *ngFor="let ticker of tickers">
		Sym: <span>{{ticker.symbol}}</span>
		<br>
		Name: <span>{{ticker.name}}</span>
		<br>
		Country: <span>{{ticker.country}}</span>
		<br>
		Industry: <span>{{ticker.industry}}</span>
		<br>
		<div class="ticker-list__ticker-buy">
			<button (click)="openDialog(ticker.symbol)">Buy `{{ticker.symbol}} stock</button>
		</div>
		
	</div>
	
</div>