// colors
$dark-green: #17611B;
$medium-green: #2AAD30;
$light-green: #36E03E;
$lighter-green: #7CE681;
$earth-green: #486B4A;
$white: #FFFFFF;
$black: #000000;

// dark mode
$background: #000000;
$complement: #121212;
$menu: #161618;
$hover: #212124;
$primary-text: #ffffff;
$secondary-text: #818181;
$purple-accent: #bb86fc;
$angular-accent: #FF4081;

// font sizes
$font-large: 1.5rem;
$font-medium: 1.125rem;
$font-small: .875rem;
$font-v-small: .8rem;