<app-nav></app-nav>
<main>
	<div class="columns">
		<div class="columns__lefthalf">
			Trades History:
			<app-trades-list></app-trades-list>
		</div>
		<div class="columns__righthalf">
			Stats Code History:
			<app-status-code-history></app-status-code-history>
		</div>
	</div>
</main>
