<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Shipper</h3>

    <div class="form-group row">
	  <label class="control-label col-md-12">BuyOrSell</label>
	  <input type="text" [(ngModel)]="tradeDetails.buyOrSell" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="text" [(ngModel)]="tradeDetails.price" class="form-control">
	</div>

  <div class="form-group row">
	  <label class="control-label col-md-12">Status Code</label>
	  <input type="text" [(ngModel)]="tradeDetails.statusCode" class="form-control">
	</div>

  <div class="form-group row">
	  <label class="control-label col-md-12">Stock Ticker</label>
	  <input type="text" [(ngModel)]="tradeDetails.stockTicker" class="form-control">
	</div>

  <div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="text" [(ngModel)]="tradeDetails.volume" class="form-control">
	</div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateTrade()">Update Trade</button>
    </div>
 </div>
