.columns {
	width: 100%;
	height: 95vh;
	display: flex;
  	flex-direction: row;
	justify-content: space-around;
	border: $menu 1px solid;
	border-radius: 5px;
	padding: 2rem;
	color: white;
	

	&__left {
		width: 30%;
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		border: $menu 1px solid;
		border-radius: 5px;
	}

	&__middle {
		width: 30%;
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		border: $menu 1px solid;
		border-radius: 5px;
	}
	
	&__right {
		width: 30%;
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		border: $menu 1px solid;
		border-radius: 5px;
	}
}