.splashpage {
	display: flex;
	flex-direction: row;
	color: white;
	height: 100%;
	

	&__lefthalf {
		display: flex;
		width: 40%;
		height: 100vh;
		background-color: $menu;
		justify-content: center;
		align-items: center;

		&-text {

			h2 {
				font-size: 8rem;
			}

		}
	}

	&__righthalf {
		display: flex;
		flex-direction: column;
		width: 60%;
		justify-content: center;
		

		&-buttons {
			text-align: center;
			button {
				margin: 5%;
			}
		}
		
		&-form {

			&--login {
				display: flex;
				flex-direction: column;
				display: none;

				&---title {
					text-align: center;
					font-size: 2rem;
				}

				&---fields {
					text-align: center;
					mat-form-field {
						margin: 1rem;
					}
				}

				&---button {
					text-align: center;
				}

			}

			&--register {
				display: flex;
				flex-direction: column;
				display: none;

				&---title {
					text-align: center;
					font-size: 2rem;
				}

				&---fields {
					text-align: center;
					mat-form-field {
						margin: 1rem;
					}
				}

				&---button {
					text-align: center;
				}

			}
		}

	}
}

	