.columns {

	&__lefthalf {
		width: 40%;
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		border: $menu 1px solid;
		border-radius: 5px;
	}

	&__righthalf {
		width: 40%;
		padding: 1rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		border: $menu 1px solid;
		border-radius: 5px;
		
	}

}

.ticker-list::-webkit-scrollbar {
	width: 0.25rem;
}

.ticker-list::-webkit-scrollbar-track {
	background: $menu;
}

.ticker-list::-webkit-scrollbar-thumb {
	background: $angular-accent;
}