<nav class="side-navbar for-desktop">
	<ul class="side-navbar__nav">
	  <li class="side-navbar__logo">
		<a href="#" class="side-navbar__nav-link">
		  <img src="../../assets/logo.png" alt="Darrly\'s Angels">
		  <i class="fas fa-caret-down"></i>
		</a>
	  </li>

	  <li class="side-navbar__nav-item">
		<a class="side-navbar__nav-link" [routerLink]="['/home']">
			<i class="fas fa-home"></i>
		  <span class="side-navbar__link-text">Home</span>
		</a>
	  </li>
  
	  <li class="side-navbar__nav-item">
		<a class="side-navbar__nav-link" [routerLink]="['/trades-history']">
			<i class="fas fa-book"></i>
		  	<span class="side-navbar__link-text">Trade History</span>
		</a>
	  </li>
  
	  <li class="side-navbar__nav-item">
		<a class="side-navbar__nav-link" [routerLink]="['/fixtures']">
		  	<i class="fas fa-chart-line"></i>
			<span class="side-navbar__link-text">Stock Prices</span>
		</a>
	  </li>
  
	  <li class="side-navbar__nav-item">
		<a href="#" class="side-navbar__nav-link">
			<i class="fas fa-piggy-bank"></i>
			<span class="side-navbar__link-text">Portfolio</span>
		</a>	
	  </li>
	</ul>
  </nav>
