<div class="trades-list">
	<div class="trades-list__colnames">
		<h5>ID</h5>
		<h5>Ticker</h5>
		<h5>Buy or Sell</h5>
		<h5>Price</h5>
		<h5>Volume</h5>
		<h5>Date + Time</h5>
	</div>
	
	<div *ngFor="let trade of trades">
		<div  class="trades-list__trade">
			<div class="trades-list__trade-body">
				<span>{{trade.id}}</span>
				<span>{{trade.stockTicker}}</span>
				<span>{{trade.buyOrSell}}</span>
				<span>{{trade.price}}</span>
				<span>{{trade.volume}}</span>
				<span>{{trade.createdTimestamp}}</span>
			</div>
			<div class="trades-list__trade-buttons">
				<button (click)="getStatusCodeHistory(trade.statusCode)">View Status Code History</button>
			</div>
		</div>
	</div>
</div>