<div class="dialog">
	<h1 mat-dialog-title>Place order for `{{data.ticker}}</h1>
	Current price is: ${{data.price}}
	<div mat-dialog-content>
		<mat-form-field appearance="fill">
			<mat-label>Volume</mat-label>
			<input type=number matInput [(ngModel)]="data.volume">
		</mat-form-field>
	</div>

	<div mat-dialog-actions>
		<button mat-button (click)="onNoClick()">Cancel</button>
		<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
	</div>
	
	

</div>
