<app-nav></app-nav>
<main>
	<div class="columns">
		<div class="columns__left">
			<app-tickers-list></app-tickers-list>
		</div>
		<div class="columns__middle">
			<app-order-summary></app-order-summary>
		</div>
		<div class="columns__right">
		</div>
	</div>
</main>

