.side-navbar {
	top: 0;
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: $menu;
	transition: 200ms ease;

	&__nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	&__nav-item {
		width: 100%;

		&:last-child {
			margin-top: auto;
		}
	}

	&:hover {

		.side-navbar__link-text {
			display: inline ;
		}

		img {
			display: block;
			margin-left: 2rem;
		}

		.side-navbar__logo i {
			transform: rotate(90deg);
			margin-left: auto;
		}
	}

	&__logo {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		color: white;
		background: $complement;
		font-size: 1.5rem;
		width: 100%;
		text-align: center;

		img {
			height: 80px;
			width: 100px;
			filter: invert(99%) sepia(1%) saturate(488%) hue-rotate(232deg) brightness(106%) contrast(101%);
			display: none;
		}

		i {
			transform: rotate(-90deg);
			transition: 400ms;
			margin-left: 2rem;
		}
	}


	&__nav-link {
		display: flex;
		align-items: center;
		height: 5rem;
		color: white;
		text-decoration: none;
		filter: grayscale(100%) opacity(.7);
		transition: 600ms;

		&:hover {
			filter: grayscale(0%) opacity(1);
			background: $hover;
			color: $angular-accent;
		}

		i {
			min-width: 2rem;
			margin: 0 1.5rem;
		}

		img {
			border-radius: 50%;
		}
	}

	&__link-text {
		display: none;
	}

	
}

.side-navbar:hover {
	width: 16rem;
	z-index: 10;

	.side-navbar__link-text {
		display: inline;
	}
}

.fas {
	color: $angular-accent;
}