.ticker-list {
	height: 85vh;
	width: 100%;
	overflow: auto;
	border: $menu 1px solid;
	border-radius: 5px;
	padding: 1rem;
	color: white;


	&__ticker {
		border: $menu 1px solid;
		border-radius: 5px;
		padding: .5rem;
		margin-bottom: .5rem;
		transition: all .2s ease-in-out;

		span {
			color: $angular-accent;
		}

		&:hover {
			.ticker-list__ticker-buy {
				display: block;
			}
		}

		&-buy {
			margin-top: .5rem;
			display:  none;
		}

	}
}

.ticker-list::-webkit-scrollbar {
	width: 0.25rem;
}

.ticker-list::-webkit-scrollbar-track {
	background: $menu;
}

.ticker-list::-webkit-scrollbar-thumb {
	background: $angular-accent;
}