.trades-list {
	margin-top: 1rem;
	width: 100%;
	height: 80vh;
	flex-grow: 1;
	overflow: auto;

	&__colnames {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: .5rem;
		color: $angular-accent;
	}

	&__trade {
		
		border: $menu 1px solid;
		border-radius: 5px;
		padding: .5rem;
		margin-top: .5rem;
		transition: all .2s ease-in-out;

		&-body {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&:hover {
			.trades-list__trade-buttons {
				display: block;
			}
		}

		&-buttons {
			margin-top: .5rem;
			display: none;
			text-align: center;
		}	
	}
}

.trades-list::-webkit-scrollbar {
	width: 0.25rem;
}

.trades-list::-webkit-scrollbar-track {
	background: $menu;
}

.trades-list::-webkit-scrollbar-thumb {
	background: $angular-accent;
}